<!DOCTYPE html>
<html>
<head>
	<!-- current angularjs (not for long though I'm sure)  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>

	<!-- customized styling -->
	<link rel="stylesheet" type="text/css" href="https://www.americasmart.com/hubfs/www/includes/css/styles.css">

	<!-- customized script -->
	<script src="src/app.js"></script>
  <style>

  </style>
</head>

<body ng-app="exhibitorMatchApp">
	<div class="grid-wrapper gray-0-bg" ng-controller="exhibitorMatchController as vm">
		<div class="column eight">
			<div class="text-header-2">Exhibitors</div>
			<ul class="category-list split-list four">
				<li ng-repeat="exhibitor in vm.exhibitors | orderBy: 'showroomName' track by $index">
					<label for="//exhibitor.exhibitorID//" class="width-100"><input type="checkbox" id="//exhibitor.exhibitorID//" value="//exhibitor.exhibitorID//" name="vm.exAll" ng-change="vm.updateLines(vm.exhibitors)" ng-model="exhibitor.selected">// exhibitor.showroomName //</label>
				</li>
	        </ul>
		</div>
		<div class="column eight">
			<div class="text-header-2">Lines <a ng-href="data:text/plain;charset=utf-8,// vm.url //" class="next" download="line-list.txt">Download Lines</a></div>
			<ul class="category-list split-list three">
				<li ng-repeat="line in vm.lines track by $index">// line.line //</li>
	        </ul>
		</div>
	</div>
</body>

</html>
